<div>
  <h1>Countdown</h1>
  <div class='countdown-wrapper'>
      <div class='countdown-item'  *ngIf="days">
        <app-svgcircle [radius]="daysRadius" ></app-svgcircle>
        {{days}} 
        <span>days</span>
      </div>
      <div class='countdown-item' *ngIf="hours">							
        <app-svgcircle [radius]="hoursRadius" ></app-svgcircle>
        {{hours}} 
        <span>hours</span>
      </div>
      <div class='countdown-item' *ngIf="minutes">
        <app-svgcircle [radius]="minutesRadius" ></app-svgcircle>
        {{minutes}} 
        <span>minutes</span>
      </div>
      <div class='countdown-item' *ngIf="seconds">
        <app-svgcircle [radius]="secondsRadius" ></app-svgcircle>
        {{seconds}} 
        <span>seconds</span>
      </div>
  </div>
</div>